
*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/21/20839759e6fa00121d76917d9acf8dd1

*.png

*.prefs

*.txt

*.launch

*.tree

.metadata/.plugins/org.eclipse.core.resources/.history/44/80ea5fe704fb00121f90a845f5fc17bc

*.xml

*.txt

.metadata/

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

.metadata/.plugins/org.eclipse.jdt.core/536393349.index

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
AMS/bin

*.zip

*.snap
